<carousel>
    <slide>
        <img src="https://s3.ap-south-1.amazonaws.com/assets.web.tm/banner/EOSSSS191349x525.jpg" alt="first slide"
            style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="https://s3.ap-south-1.amazonaws.com/assets.web.tm/testimages/Ethnic_banner_image_18June_19.jpg"
            alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="https://s3.ap-south-1.amazonaws.com/assets.web.tm/banner/Ethnic_banner_image.jpg" alt="third slide"
            style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="https://s3.ap-south-1.amazonaws.com/assets.web.tm/banner/Web_RTW_Banner_image.jpg" alt="third slide"
            style="display: block; width: 100%;">
    </slide>
</carousel>